.containerr{
    border: 1px solid black;
    margin: auto;
    padding: 10px;  
    text-align: left;
  }
  img{
      width: 200px;
      height: 200px;
  }
  .info{
  
      padding: 10px;
  }
  .cart-btn{
      background: red;
      color: white;
      border: 0;
      display: flex;
      margin: auto;
      padding: 10px;
      border-radius: 10px;
      font-weight: bold;
      
  }
  .quant{
      margin: auto auto 20px auto;
      /* display: flex; */
      border: 1px solid black;
      border-radius: 10px;
      width: 50px;
      text-align: center;
  
  }