img {
    border-radius: 10px;
    padding-right: 20px;
    width: 320px;
  }
  
  .select-input {
    width: 108px; 
    margin-bottom: 8px;
  }
  .info-item{
    height: min-content;
  }
  .detail-ctn {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    align-items: center;
    justify-content: space-evenly;
  }
  .form{
    /* border: 2px solid black; */
    margin: 10px;
    
  }
  .detail-item {
   margin: auto;
    
  }
  .cart{
margin: 20px;
  }
  .selectt{
    margin:auto !important;
  }
  .ff{
    display: flex;
    flex-direction: column;
  }
  .back-link {
    color: black;
    padding: 10px;
    border: 2px solid black;
    border-radius: 25px;
    text-decoration: none;
    margin: auto;
  }